@import '../../../scss/variables.module';

.parent {
  @include flexBoxing();
  margin-bottom: 84px;
}

.slider {
  width: 820px;
  height: 450px;
  background: linear-gradient(to top right, rgba(11, 11, 11, 0.553) 50%, rgb(131, 40, 159));
  border-radius: 20px;
  padding: 30px 30px 30px 30px;

  &:hover {
    box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.6);
    transition: all .3s;
  }
}

.blockTop {
  @include flexBoxingSecond();
  margin-bottom: 20px;

  &__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
  }

  &__date {
    font-size: 17px;
    line-height: 17px;
    font-style: italic;

    &__margin {
      margin-right: 5px;
    }
  }
}

.flexBox {
  @include flexBoxingThird();

  .leftBlock {
    @include gridCenter();
    gap: 10px;
    
    &__block {
      @include flexBoxing();
      width: 325px;
      height: 170px;
      background: linear-gradient(to top left, rgba(11, 11, 11, 0.553), rgb(131, 40, 159));
      border-radius: 20px;
      transition: all .3s;

      &__text {
        @include textSliderAdditions();
        margin-right: 10px; 
      }

      &__item {
        @include itemSliderAdditions();
      }

      &:hover {
        box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.6);
        transform: rotateY(10deg) scale(1.1);
      }
    }
}

  .rightBlock {
    @include gridCenter();
    gap: 10px;
     
    &__block {
      @include flexBoxing();
      width: 350px;
      height: 170px;
      background: linear-gradient(to top left, rgba(11, 11, 11, 0.553), rgb(131, 40, 159));
      border-radius: 20px;
      transition: all .3s;
      
      &__text {
        @include textSliderAdditions();
        margin-right: 10px; 
      }

      &__item {
        @include itemSliderAdditions();
      }

      &:hover {
        box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.6);
        transform: rotateY(10deg) scale(1.1);
      }
    }
  }
}


@media (max-width: 900px) {
  .parent {
    margin-bottom: 0px;
  }

  .slider { 
    width: 600px;
    height: 355px;
    padding: 20px 20px 20px 20px;
  }

    .flexBox {
      .leftBlock {

        &__block {
          @include gridCenter(); 
          gap: 10px;
          width: 250px;
          height: 135px;
        
          &__text {
            margin: 0;
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
          }
    
          &__item {
            font-size: 20px;
            line-height: 20px;
          }

          img {
            width: 15px;
            height: 15px;
          }
        }
      }

      .rightBlock {
        &__block {
          @include gridCenter();
          gap: 10px;
          width: 250px;
          height: 130px;

          &__text {
            margin: 0;
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
          }
    
          &__item {
            font-size: 20px;
            line-height: 20px;
          }
  
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }


@media (max-width: 700px) {
  .slider { 
    width: 400px;
    height: 355px;
    padding: 20px 20px 20px 20px;
  }

  .blockTop {
    display: grid;
    gap: 10px;
  }

    .flexBox {
      .leftBlock {

        &__block {
          @include gridCenter(); 
          gap: 10px;
          width: 160px;
          height: 120px;
        
          &__text {
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
          }
    
          &__item {
            font-size: 20px;
            line-height: 20px;
          }

          img {
            width: 15px;
            height: 15px;
          }
        }
      }

    .rightBlock {
      &__block {
        @include gridCenter();
        gap: 10px;
        width: 160px;
        height: 120px;

        &__text {
          font-size: 20px;
          line-height: 20px;
          text-decoration: none;
        }
  
        &__item {
          font-size: 20px;
          line-height: 20px;
        }

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .slider {
    width: 250px;
  }

  .blockTop {
    margin-bottom: 40px;

    &__title {
      font-size: 15px;
      line-height: 15px;
      font-weight: 300;
      font-style: italic;
    }
  
    &__date {
      font-size: 10px;
      line-height: 10px;
      font-weight: 300;
      font-style: italic;
    
      &__margin {
        margin-right: 5px;
      }
    }
  }

    .flexBox {
      
      .leftBlock {
        &__block {
          border-radius: 10px;
          width: 90px;
          height: 100px;

          &:hover {
            box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.6);
            transform: none;
          }

          &__text {
            font-size: 12px;
            line-height: 12px;
            text-decoration: none;
          }
    
          &__item {
            font-size: 15px;
            line-height: 15px;
          }
        }
      }

      .rightBlock {
        &__block {
          border-radius: 10px;
          width: 90px;
          height: 100px;

          &:hover {
            box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.6);
            transform: none;
          }

          &__text {
            font-size: 12px;
            line-height: 12px;
            text-decoration: none;
          }
    
          &__item {
            font-size: 15px;
            line-height: 15px;
          }
        }
      }
    }
}