@import '../../scss/variables.module';

.navigation {
  @include widthContainer;
  padding: 0 15px;
}

img {
    margin: 20px;
}

.flexBox {
    @include headerFlex;
    width: 100%;

    .leftBlock {
        width: 400px;
    
        h1 {
            font-size: 80px;
        }
    
        p {
            float: right;
            font-size: 20px;
        }
    }

    h1, p, li {
        cursor: pointer;
    }

    ul {
        @include headerFlex;
        list-style: none;
        width: 700px;

        li {
            font-size: 35px;
            text-align: center;
        }
    }
}

