@import '../../scss/variables.module';

.parent {
  @include flexBoxing();
  margin-bottom: 84px;
}

.slider {
  width: 820px;
  height: 450px;
  background: linear-gradient(to top left, rgba(11, 11, 11, 0.553) 40%, rgb(131, 40, 159));
  border-radius: 20px;
  padding: 40px 30px 40px 30px;

  &:hover {
    box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.553);
    transition: all .3s;
  }
}

.blockTop {
  @include flexBoxingSecond();
  margin-bottom: 80px;

  &__title {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 30px;
    font-weight: 400;
  }

  &__country {
    font-size: 25px;
    line-height: 20px;
    font-weight: 300;
    .underLine {
      margin-top: 5px;
      opacity: 0.7;
    }
  }
}


.blockCenter {
  @include flexBoxing();
  margin-bottom: 100px;

  &__degrees {
    font-size: 70px;
    line-height: 55px;
    font-weight: 400;
    margin: 0px 25px 0px 25px;
  }

}

.blockBottom {
  @include flexBoxingThird();

  .blockBottom__list {
    list-style: none;
  
    &__text {
      font-size: 25px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__properties {
      font-size: 22px;
      line-height: 22px;
      font-weight: 700;
    }

    &__selects {
      @include proportionsWeather();
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
      color: #FFFFFF;
    }
    
    &__proportions {
      @include proportionsWeather();
      background-color:  rgb(131, 40, 159);
    }
  }
}