@import '../../../scss/variables.module';

.parent {
  @include flexBoxing();
  margin-bottom: 84px;
}

.slider {
  width: 900px;
  background: linear-gradient(to top left, rgba(11, 11, 11, 0.553) 40%, rgb(131, 40, 159));
  border-radius: 20px;
  padding: 20px 0px 0px 0px;

  &:hover {
    box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.553);
    transition: all .3s;
  }

  &__blockTop {
    @include flexBoxingSecond();
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;

    &__block {
      display: flex;
      align-items: center
    }

    &__title {
      @include textSliderAdditions();
      margin-left: 5px;
    }

    &__city,
    &__country { 
      @include proportionsWeather();
    }
  }

  &__blockTable {
    @include flexBoxingSecond();
    border: 1px solid #FFFFFF;
    padding: 14px;

    &__day {
      @include proportionsWeather();
      white-space: nowrap;
    }

    &__text {
      font-size: 18px;
      line-height: 15px;
      font-weight: 300;
      white-space: nowrap;
    }
  }
  &__blockTable:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (max-width: 1000px) {
  .slider {
    width: 700px;
  
    &__blockTable {
      @include gridCenter();
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 800px) {
  .slider {
    width: 500px;

    &__blockTop {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .slider {
    width: 265px;

    &__blockTop {
      &__title { 
        font-size: 15px;
        line-height: 15px;
      }

      &__city,
      &__country { 
        font-size: 15px;
        line-height: 15px;
      }
    }

    &__blockTable {
      &__day {
        font-size: 16px;
        line-height: 16px ;
        white-space: nowrap;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 10px;
      }
    }
  }
}