@import '../../../scss/variables.module';

.parent {
  @include flexBoxing();
  margin-bottom: 84px;
}

.slider {
  width: 820px;
  background: linear-gradient(to top left, rgba(11, 11, 11, 0.553) 40%, rgb(131, 40, 159));
  border-radius: 20px;
  padding: 20px 0px 0px 0px;

  &:hover {
    box-shadow: 0px 5px 5px rgba(150, 24, 172, 0.553);
    transition: all .3s;
  }

  &__blockTop {
    @include flexBoxingSecond();
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;

    &__block {
      display: flex;
      align-items: center
    }

    &__title {
      @include textSliderAdditions();
      margin-left: 5px;
    }

    &__continent { 
      @include proportionsWeather();
    }
  }

  &__blockTable {
    @include flexBoxingSecond();
    border: 1px solid #FFFFFF;
    padding: 14px;

    &__day {
      @include proportionsWeather();
      white-space: nowrap;
    }

    &__text {
      font-size: 18px;
      line-height: 15px;
      font-weight: 300;
      white-space: nowrap;
    }
  }
  &__blockTable:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (max-width: 1000px) {
  .slider {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .slider {
    width: 630px;
  }
}

@media (max-width: 700px) {
  .slider {
    width: 400px;
    &__blockTable {
      @include gridCenter();
      grid-template-columns: 1fr 1fr 1fr;
    
    
      &__day {
        @include proportionsWeather();
        white-space: nowrap;
        margin-bottom: 7px;
        text-decoration: underline;
      }
  
      &__text {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 15px;
        font-weight: 300;
        white-space: nowrap;
      }

      img {
        margin-bottom: 7px;
      }
    }
  }
}

@media (max-width: 500px) {
  .slider {
    width: 260px;
    height: 1698px;
    &__blockTop {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 20px;
        line-height: 20px;
      }

      &__country,
      &__city {
        margin-bottom: 15px;
      }
    }

    &__blockTable {
      @include gridCenter();
      grid-template-columns: 1fr;
      height: 200px;
    
      &__day {
        @include proportionsWeather();
        white-space: nowrap;
        margin-bottom: 7px;
        text-decoration: underline;
      }
  
      &__text {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 15px;
        font-weight: 300;
        white-space: nowrap;
      }

      img {
        margin-bottom: 7px;
      }
    }
  }
}