@import '../../scss/variables.module';

.container_slider {
    @include flexBoxing;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 90px;
  
  .arrow_prev,
  .arrow_next {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .arrow_prev {
    margin-right: 60px;
  }
  
  .arrow_next {
    margin-left: 60px;
  }
  
    .slider {
      border-radius: 25px;
      width: 825px;
      background-image: linear-gradient(to bottom right, rgba(173, 54, 203, 1) 30%, rgba(51, 51, 51, 1) 70%);
  
      &_text {
        margin: 50px 0 0 30px;
        font-size: 35px;
      }
  
      &_date {
        margin-left: 30px;
        font-size: 20px;
      }
  
      &_block_list {
        @include flexBoxingThird;
        padding-top: 80px;
        padding-bottom: 20px;
  
        .slider_list {
          list-style: none;
          
          p {
            font-size: 25px;
          }
  
          b {
            font-size: 20px;
          }
        }
      }
      
      img {
        margin: 0;
        padding: 0;
      }

      &:hover {
        box-shadow: 0px 8px 8px rgb(107, 105, 105);;
        transition: all .3s;
      }
    }

    .slider_second {
      @include flexBoxing;
      margin-top: 90px;
  
      &_block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
  
      &_text {
        font-size: 70px;
      }
    }
  }
  